* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main.main_box{
	width: 50vw;
	margin: 15px auto;
	padding: 10px;
	contain: content;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.todoHead {
	width: 100%;
	background-color: cadetblue;
	padding: 20px;
	color:snow;
	text-align: center;
}


.input_box{
	width: 100%;
	display: flex;
}

.input_box input {
	flex: 3;
	padding: 10px;
	margin: 10px;
	outline: none;
	border: none;
	border-bottom: 1px solid #ccc;
}


.input_box button {
	flex: 1;
	padding: 10px;
	margin: 10px;
	outline: none;
	border: none;
	background-color: cadetblue;
	color: white;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
}


div.todo_item {
	display: flex;
	width: 100%;
}

div.todo_item div {
	font-weight: bold;
	padding: 15px;
	font-size: 20px;
} 

.todo_item div:nth-of-type(1){
	color: red;
	cursor: pointer;
}

.todo_item div:nth-of-type(2){
	color: #888;
}
